body {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.register {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); */
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.3);
  width: 350px;
}

#header {
  text-align: center;
  margin-bottom: 25px;
  color: #252eff;
  font-size: 25px;
}

#registration-form {
  display: flex;
  flex-direction: column;
}

#registration-form label {
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

#registration-form input,
#registration-form select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

#registration-form input:focus,
#registration-form select:focus {
  outline: none;
  border-color: #252eff;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

#register-btn {
  padding: 10px 40px;
  background-color: #252eff;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#register-btn:hover {
  background-color: #3e42b8;
}

.btn p {
  margin-top: 10px;
  font-size: 14px;
  color: #444;
}

.btn span {
  color: #252eff;
  cursor: pointer;
  font-weight: bold;
  margin-left: 2px;
  text-decoration: underline;
}

/* login styles */

#login-form {
  display: flex;
  flex-direction: column;
}
#login-form label {
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

#login-form input,
#login-form select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
.login {
  background-color: #fff;
  padding: 40px 40px;
  border-radius: 10px;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); */
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.3);
  width: 350px;
}
#login-btn {
  padding: 10px 40px;
  background-color: #252eff;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
#login-btn:hover {
  background-color: #3e42b8;
}

#login-form input:focus,
#login-form select:focus {
  outline: none;
  border-color: #252eff;
}
#login-forget:hover {
  color: #8687ee;
}
